#!/usr/bin/make -f

DEB_VERSION := $(shell dpkg-parsechangelog | egrep '^Version:' | cut -f 2 -d ' ' | cut -f 1 -d '-')

DESTDIR := $(shell realpath debian/deremotelauncher)
SANDBOX := --install-sandbox="$(DESTDIR)"

SCONS_OPTIONS := version="$(DEB_VERSION)"

%:
	dh $@

override_dh_auto_clean:
	scons $(SCONS_OPTIONS) --config=force deremotelauncherdesktop -c
	find -type d -name "__pycache__" | xargs -- rm -rf
	rm -f config.log
	rm -rf .sconf_temp
	rm -f .sconsign.dblite
	rm -f lastConfig.py
	rm -f shared/src/config.h

override_dh_auto_configure:
	
override_dh_auto_build:
	scons $(SCONS_OPTIONS) --config=force deremotelauncherdesktop_build

override_dh_auto_test:
	
override_dh_auto_install:
	scons $(SCONS_OPTIONS) --config=cache $(SANDBOX) deremotelauncherdesktop
	
	# ubuntu seems to dislike it if build files are still around after this point in time
	scons $(SCONS_OPTIONS) --config=cache deremotelauncherdesktop_build -c

override_dh_shlibdeps:
	dh_shlibdeps
